<footer>
    <div class="footer-container">
        <span class="about-us">
            <h1 class="avenir_black primaryText"> HEALTH
                <span class="secondaryText avenir_black"> MATE </span>
            </h1>
            <p>
                Meet HealthMate, a culmination of the hard work and dedication of four BSIT working students. 
                With a focus on web and mobile development, they bring you an app designed to simplify your 
                medication management, ensuring you never miss a dose. For inquiries, drop an email at 
                <b> healthmate.pup@gmail.com </b> or use the form below. Your health, our priority.
            </p>
        </span>
        <span class="contacts">
            <button class="healthmate-btn" (click)="openModal()"> Contact Us </button>
        </span>
    </div>
</footer>