<footer>
    <div class="footer-container">
        <span class="about-us">
            <h1 class="avenir_black primaryText"> HEALTH
                <span class="secondaryText avenir_black"> MATE </span>
            </h1>
            <p>
                Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum.
                Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes. Sed
                fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.
                Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum.
                Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.
            </p>
        </span>
        <span class="contacts">
            <button class="healthmate-btn" (click)="openModal()"> Contact Us </button>
        </span>
    </div>
</footer>