/* Custom styles for the mat-drawer */
.custom-drawer {
  // Initial position (off-screen)
  width: 40%;
  transform: translateX(100%);
  overflow: hidden !important;
}

.top-nav {
  width: 100%;
  position: fixed;
  z-index: 9999 !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .scroll-icon {
    border-radius: 5px;
    padding: 10px;
    background: #777777;
    border: none;
    color: white;
    transition: background 0.5s, color 0.5s;  
  }
  mat-icon {
    color: white;
  }

  .scroll-icon:hover {
    background: #f26ca7;
    cursor: pointer;
    transition-duration: 1000ms;
  }
}


#home, #features, #aboutus {
  overflow: hidden;
}

#home {
  margin-top: 70px;
}

#aboutus {
  margin-top: -120px;
}

.container {
  display: flex;
  flex-direction: column;
}


.healthcare_page {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.centered-container {
  display: grid;
  place-items: center; // Center both horizontally and vertically
}

.centered-image {
  width: 250px;
}

@media (min-width: 1200px) {
  .healthcare_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
  }

  #features,  #aboutus  {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
