<div class="healthcare_page" *ngIf="assetsLoaded; else loadingIndicator">
  <div class="top-nav" *ngIf="currentPath !== '/faq'">
    <TopNav></TopNav>
  </div>
  <div class="container" id="home">
    <router-outlet></router-outlet> <!-- Home, Features, About Us components will be displayed here -->
  </div>

  <mat-drawer #drawer class="custom-drawer" position="end" mode="side" [opened]="isDrawerOpen">
    <!-- Sidenav content -->
    <ul>
      <li (click)="navigateToHome()">Home</li>
      <li (click)="scrollToSection('features')">Features</li>
      <li (click)="scrollToSection('aboutus')">About Us</li>
      <li (click)="navigateToFAQ()">FAQ</li>
      <li (click)="scrollToSection('footer')">Contact</li>
    </ul>
  </mat-drawer>

  <div class="scroll-to-top" (click)="scrollToTop()">
    <button class="scroll-icon">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</div>

<ng-template #loadingIndicator>
  <div class="centered-container">
    <img src="../assets/loading.gif" alt="healthmate-loading" class="centered-image" />
  </div>
</ng-template>