/* Custom styles for the mat-drawer */
.custom-drawer {
  // Initial position (off-screen)
  width: 40%;
  transform: translateX(100%);
  overflow: hidden !important;
}
  .healthcare_page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  
@media screen and (min-width: 1200px) {
    .healthcare_page {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: #f2f2f2;
      }
}
