<mat-drawer-container class="drawer-container">

    <!-- Main content -->
    <div class="main-content">
        <header class="top-nav">
            <div class="healthmate-icon" (click)="navigateToHome()">
                <img src="../../assets/healthmate_icon.svg" class="icon" />
                <h1 class="avenir_black primaryText"> HEALTH
                    <span class="secondaryText avenir_black"> MATE </span>
                </h1>
            </div>

            <div class="healthmate-nav">

                <ul class="navigation">
                    <li class="avenir_light" (click)="scrollToSection('home')">Home</li>
                    <li class="avenir_light" (click)="scrollToSection('features')">Features</li>
                    <li class="avenir_light" (click)="scrollToSection('aboutus')">Teams</li>
                    <li class="avenir_light" (click)="navigateToFAQ()">FAQ</li>
                    <li class="avenir_light" (click)="scrollToSection('footer')">Contact</li> 
                </ul> 
                <mat-icon mat-icon-button (click)="toggleDrawer()">menu</mat-icon>
            </div>


        </header>
        <div *ngIf="isDrawerOpen" class="overlay" (click)="closeDrawer()"></div>

    </div>



</mat-drawer-container>