<!-- app-features.component.html -->

<div class="centered-container">
  <div class="header">
    <p class="avenir_heavy"> The App Features </p>
    <p class="avenir_roman">
      Discover the power of HealthMate. From intuitive medication reminders to comprehensive
      <br /> health tracking, our app is designed to enhance your well-being. Immerse yourself
      <br /> in a seamless experience tailored to your health journey.
    </p>
  </div>

  <div class="features-container">

    <div class="feature-row">
      <div class="left-description">
        <ul class="features-list">
          <ng-container *ngFor="let feature of dataPaths; let i = index">
            <li *ngIf="i < 3" [class.active]="feature.id === activeFeatureIndex" (click)="setActiveFeature(feature.id)">
              <i class="{{ feature.icon }}"></i>
              <div class="feature-info">
                <h2 class="pink" *ngIf="feature.id === activeFeatureIndex; else inactive">{{ feature.name }}</h2>
                <ng-template #inactive>
                  <h2 class="avenir_medium">{{ feature.name }}</h2>
                </ng-template>
                <p>{{ feature.description }}</p>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="phone-model">
        <div class="phone-holder">
          <div class="phone-placeholder">
            <img [src]="assets[2]" alt="phone-placeholder" class="holder" />
          </div>
          <div class="animated phone-screen" *ngIf="activeFeatureIndex !== null" [class.active]="true">
            <div class="picture">
              <img [src]="dataPaths[activeFeatureIndex].assetPath"
                alt="{{ dataPaths[activeFeatureIndex].asset.currentSrc }}" class="feature-image">
            </div>
          </div>
        </div>

      </div>

      <div class="right-description">
        <ul class="features-list">
          <ng-container *ngFor="let feature of dataPaths; let i = index">
            <li *ngIf="i >= 3" [class.active]="feature.id === activeFeatureIndex" (click)="setActiveFeature(feature.id)">
              <i class="{{ feature.icon }}"></i>
              <div class="feature-info">
                <h2 class="pink" *ngIf="feature.id === activeFeatureIndex; else inactive">{{ feature.name }}</h2>
                <ng-template #inactive>
                  <h2 class="avenir_medium">{{ feature.name }}</h2>
                </ng-template>
                <p>{{ feature.description }}</p>
              </div>
            </li>
          </ng-container>
        </ul>
        </div>
    </div>
  </div>

    <div class="what-to-do">
 
      <div class="grid-item">
        <span class="num-bg"> 1 </span>
        <h4 class="caption"> Visit Our Website </h4>
        <p class="description"> Explore the HealthMate experience by heading to our official website. </p>
      </div>
      <div class="grid-item">
        <span class="num-bg"> 2 </span>
        <h4 class="caption"> Download HealthMate </h4>
        <p class="description"> Get the HealthMate app directly from our website or from our team </p>
      </div>
      <div class="grid-item">
        <span class="num-bg"> 3 </span>
        <h4 class="caption"> Create Account </h4>
        <p class="description"> Dive into the HealthMate community by setting up your personalized account. </p>
      </div>
      <div class="grid-item">
        <span class="num-bg"> 4 </span>
        <h4 class="caption"> Enjoy & Rate Our App </h4>
          <p class="description"> Immerse yourself in the HealthMate experience and share your feedback with us. </p>
      </div>

  
  </div>
</div>