
<section class="home-section" id="home">
    <div class="tagline-content">
        <h1 class="avenir_black primaryText">
            <!-- [@typingEffect]="animationState"> -->
            HEALTH
            <span class="secondaryText avenir_black"> MATE </span>
        </h1>
        <p class="avenir_light"> Elevate Your Health Journey with Smart Care
            <br /> and Personalized Support {{windowWidth}}
        </p>
        <button class="btn-healthmate">
            <mat-icon color="white" class="android-icon">android</mat-icon>
            Download for Android
        </button>
    </div>
    <div class="model-content">
        <img [src]="assets[0]" class="big-phone model" [@slideInFromBelow] />
        <img [src]="assets[1]" class="small-phone model" [@slideInFromBelow] />
    </div>
</section>

<div id="features">
    <Features></Features> <!-- Features component content here -->
</div>

<div id="aboutus">
    <AboutUs></AboutUs> <!-- About Us component content here -->
</div>

<div id="footer"> 
    <FooterDetails></FooterDetails>
</div>